
#about .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 20px;
}

#about .col-left, #about .col-right {
    width: 100%;
    margin-bottom: 20px;
}

#about .col-left .about-img, #about .hobbies-interests, #about .blog-preview {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

#about .col-left .about-img img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

#about .col-right h2 {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    margin-bottom: 10px;
}

#about .col-right p, #about .hobbies-interests p, #about .blog-preview p {
    margin-bottom: 20px;
}

#about .read-more {
    display: inline-block;
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#about .read-more:hover {
    background-color: darkred;
}



/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}

}