
#projects .projects {
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
   
}

#projects .projects-header h1 {
    margin-bottom: 50px;
}

#projects .all-projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 20px; 
}

#projects .project-item {
    display: flex;
    flex-direction: column;
    margin: 0; 
   
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Soft shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover */
}

#projects .project-info {
    padding: 20px;
    background: #ffffff; 
    color: #333; 
}

#projects .project-info h1, #projects .project-info h2 {
    margin: 10px 0; 
    color: #007BFF; 
}

#projects .project-info p {
    color: #666; 
}

#projects .project-img {

    height: auto;
    line-height: 0; /* Remove extra space below images */
	position: relative;
}

#projects .project-img img {

    max-width: 100%; /* Ensure image covers the area */
    height: auto; /* Maintain aspect ratio */
    transition: transform 0.3s ease; /* Smooth transition for zoom */
}

#projects .project-item:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Enhanced shadow on hover */
}

#projects .project-item:hover .project-img img {
    transform: scale(1.05); /* Slight zoom effect on hover */
}


/* Media Query For Tablet */
@media only screen and (min-width: 768px) {

	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	

}